name: Build and deploy PHP app to Azure Web App - navjot-lab-webapp-123

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, intl, pdo_mysql
          coverage: none

      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Laravel optimization
        run: |
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: |
            app/
            bootstrap/
            config/
            database/
            public/
            resources/
            routes/
            vendor/
            artisan
            composer.json
            composer.lock

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: php-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FF18828B53354B399FC9D6A70219A9DE }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_599F65A5DA0349E6A09D047AF0182758 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E612CC0204884FE88D25604BE773FEFB }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'navjot-lab-webapp-123'
          package: .
